.wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 800px;
        grid-template-rows: repeat(3, 150px);
        gap: 10px;
        margin: auto;
        background-color: black;
        margin-top: 50px;
}

.box:hover {
        background-color: rgb(238, 236, 236);
}

.names {
        height: 30px;
        color: black;
}


input {
        width: 120px;
}

.intro {
        grid-row: 1/4;
        font-size: 15px;
        color: black;
}

div {
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 100px 100px;
        background-color: white;

}

header {
        font-size: 100px;
        text-align: center;
        color: white;

}

body {
        background-color: black;

}

.wrapper>div {
        background-color: white;
        background-repeat: no-repeat;
        background-size: contain;

}

main {
        background-color: white;
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
}

.x-filled {
        background: url(../img/vecteezy_x_1192548.png);
        background-position: center;
}

.o-filled {
        background: url(../img/vecteezy_circle_1192291.png);
        background-position: center;
}

.reset {
        border: solid white 1px;
        height: 35px;
        width: 60px;
        margin-top: 10px;
        font-size: 20px;
        color: white;
        background-color: black;
        display: inline-block;
}

.reload {
        border: solid white 1px;
        height: 35px;
        width: 60px;
        text-align: center;
        padding: auto;
        margin-top: 10px;
        font-size: 20px;
        color: white;
        background-color: black;
        display: inline-block;
}

.reload:hover {
        cursor: pointer;
        color: lightgray;
}

.reset:hover {
        cursor: pointer;
        color: lightgray;
}


.box:hover {
        cursor: pointer;
}

.box10 {
        grid-column: 5/6;
        grid-row: 1/4;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100px;
}

.pvp {
        color: blue;
        border: solid 1px blue;
        background-color: black;
        font-size: 30px;
        height: 60px;
        width: 70px;
        margin-top: 50px;
        cursor: pointer;
        margin: 20px;
}

.pvp:hover {
        color: darkblue;
}

.pve:hover {
        color: darkred;
}

input:hover {
        background-color: lightgray;
}

.save-name {
        border: solid 1px black;
        width: 30px;
        margin-left: 40%;
        margin-top: 10px;
}

.save-name:hover {
        background-color: lightgray;
        cursor: pointer;
}

.pvp>p, .pve>p {
        margin: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 10px;

}

.pve {
        color: red;
        border: solid 1px red;
        background-color: black;
        font-size: 30px;
        height: 60px;
        width: 70px;
        cursor: pointer;
        margin: 20px;
}



.box10 {
        height: 500px;
        cursor: auto;
        width: 100%;
}